{% extends 'base.html' %}

{% block header %}
  <h1>QR Code Generator</h1>
{% endblock %}

{% block main %}
  <form action="/generate" method="POST">
    <label for="url">URL:</label>
    <input type="text" id="url" name="url" required>
    <br>
    <label for="size">Size:</label>
    <input type="number" id="size" name="size" min="100" max="1000" value="200">
    <br>
    <label for="border">Border:</label>
    <input type="number" id="border" name="border" min="0" max="20" value="1">
    <br>
    <label for="color">Color:</label>
    <input type="color" id="color" name="color" value="#000000">
    <br>
    <label for="background">Background:</label>
    <input type="color" id="background" name="background" value="#ffffff">
    <br>
    <label for="file_name">file-name:</label>
    <input type="text" id="file_name" name="file_name" required>
    <br>
    <button type="submit">Generate QR Code</button>
  </form>
  {% if file_name %}
    <img src="{{ file_name }}" alt="QR Code" width="200" height="200">
    <br />
    <a href="{{ file_name }}" download>Download QR Code</a>
  {% endif %}
{% endblock %}